* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: lightgray;
}
img {
  height: 50px;
}
.second {
  height: 80px;
}
.logo-container {
  display: flex;
  align-items: center;
}
.drive {
  position: absolute;
  left: 100px;
  font-size: 20px;
}
.h {
  margin: 40px 0px 20px 30px;
  font-size: 25px;
  font-weight: bold;
}
.sign-in-para {
  font-size: 20px;
}
.main-content {
  margin-top: 100px;
  padding-left: 30px;
}
input {
  width: 350px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background: #fafafa;
  outline: none;
}
input:focus {
  border: 2px solid #0095f6;
}
.forgot {
  font-size: 12px;
  color: rgb(47, 47, 83);
  margin-top: -15px;
  cursor: context-menu;
}
button {
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  background: #0095f6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #1877f2;
}
form {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

